.iconText {
  width: 30%;
  margin: 0 auto;

  input {
    box-shadow:  #020e09;
    background-color: rgb(245 247 249);

    &:focus {
      background-color: rgb(245 247 249);
      transition: 0.7s;
    }
  }
}

.buttonSearch {
  background-color: #39a839;
  border:  #020e09 20px none;

  &:hover {
    background-color: #80001e;
    transition: 0.7s;
  }

}

.radios {
  display: flex;
  justify-content: center;
}

