.navigation {
  padding: 0 10px;
  background-color: #355ded70;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    transform: scale(0.57);
  }

  .links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      margin: 0 5px;
      cursor: pointer;
      color: white;

      &:hover, &:focus {
        border-radius: 10px;
        background-color: #256ae2;
        color: white;
      }

      &#login {
        margin-left: 50px;
        background-color: rgba(0, 0, 255, 0.73);
        border-radius: 20px;
      }

    }
  }
}
