.iconText {
  width: 50vw;
  margin: 0 auto;

  @media screen and (max-width: 1040px) {
    width: 65vw;
  }

  input {
    box-shadow:  #020e09;
    background-color: rgb(245 247 249);

    &:focus {
      background-color: rgb(245 247 249);
      transition: 0.7s;
    }
  }
}

.buttonSearch {
  background-color: #39a839;
  border:  #020e09 20px none;

  &:hover {
    color: white;
    background-color: #004900;
    transition: 0.7s;
  }
}

.radios {
  display: flex;
  justify-content: center;
}

.remove-filter {
  &:hover {
    &:after {
      content: 'REMOVE';
      padding-right: 5px;
    };
    cursor: pointer;
    background-color: white;
    border-radius: 10px 10px;
  }
}