.bgImage {
  background-image: url("../../../public/library.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-position: left 10% bottom 20%;
  width: 100vw;
  height: 50vh;
  text-align: center;
}