.checkout-container {
  flex-direction: column;

}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
  width: 100%;
}

img {
  transform: scale(0.5);
  height: 95%;
  width: 60%;
  object-fit: cover;
}

