.bookCover {
    position: relative;
    background-image: url("../../../public/bookCover.jpg");
    height: 35vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;

    div {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.searchBox {
    background-image: linear-gradient(to right,#ff7854 0,#ff5079 100%);
    background-color: #61dafb;
    background-repeat: repeat-x;
    height: 180px;

    h3 {
        padding-bottom: 1.5rem;
        text-align: center;
        color: #ffe4e1;
    }
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 5rem;

    @media screen and (max-width: 1100px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 620px) {
        grid-template-columns: repeat(1, 1fr);
    }
}