.columns {
  margin: 2rem auto;

  @media screen and (max-width: 1000px) {
    flex-basis: 100%;
  }
}

.book-container {
  text-align: center;
  margin: 0 auto;

  width: 350px;
  padding: 3px;

  @media screen and (max-width: 1000px) {
    width: 80%;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;

  }
}

.gap-container {
  margin: 2rem auto;
  inline-size: auto;
  overflow-wrap: break-word;

  h6 {
    display: inline;
    padding-right: 8px;
  }

  button {
    margin: auto 8px 0 0;
  }
}