html,body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    //font-size: 1.1rem;

    //background-color: #e0e1db80;
    background-color: #f0f8ff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .form-control {
        font-weight: 600;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
