
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98px;
  text-align: center;
  font-size: 1.2rem;
  background-color: #28bf74;
  border: 2px solid #122bce;
  border-left: 0;
  border-right: 0;
}

#footer {
  margin-top: 1rem;

}
